:root {
    --back: #1e1e1e;
    --navtext: #d4d4d4;
    --navback: #252525;
    --navhigh: #333333;
    --navactive: #B54929;
    --text: #d4d4d4;
    --fullwhite: #ffffff;

    --headerImageHeight: 250px;
    --titleHeight: 220px;
}

* {
    color: var(--text);
}

html {
    background: var(--back);
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.headerImage {
    width: 100%;
    height: var(--headerImageHeight);
    background-image: url("/res/Flight_Over_The_Tundra.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

.headerImage h1 {
    font-size: var(--titleHeight);
    color: var(--fullwhite);
    margin: 0;
    opacity: 0.7;
}

nav.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav .wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navback);
}
  
nav .wrapper ul li {
    float: left;
}
  
nav .wrapper ul li a {
    display: block;
    color: var(--navtext);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav .wrapper ul li a:hover:not(.active) {
    background-color: var(--navhigh);
}
  
nav .wrapper ul li .active {
    background-color: var(--navactive);
}

.main {
    flex: 1;
}

.sidebar {
    width: 25%;
    float: left;
    min-height: 1px;
}

.panel {
    margin: 20px 20px 0 20px;
    padding: 20px 20px;
    background: var(--navback);
}

.panel p:first-child {
    margin-top: 0;
}

.panel p:last-child {
    margin-bottom: 0;
}

.content {
    width: 50%;
    float: left;
    margin: 20px 0;
}

.footerInfo {
    background: var(--navback);
    padding: 24px;
    margin: 0;
}

.discordLink {
    text-align: center;    
}

.discordLink img {
    width: 120px;
    height: 120px;
}

.copyright {
    background: var(--back);
    padding: 4px;
}

.copyright p {
    margin: 0;
}

@media screen and (max-width: 800px) {
    :root {
        --headerImageHeight: 150px;
        --titleHeight: 130px;
    }
    
    .sidebar {
        float: none;
        width: 100%;
    }
    
    .content {
        float: none;
        width: calc(100% - 2 * 20px);
        margin: 20px 20px;
    }
}